@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.guessform-container{
    border: 2px solid aqua;
    margin-top: 2em;
    margin-bottom: 5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.select-elem{
    padding: 1em;
}

label{
    padding: 1em;
}

input[type='submit']{
    background-color: aqua;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    color: black;
    font-family: 'Anton', sans-serif;
    border: 0px transparent;
    border-radius: 5%;
    margin-top: 1.5em;
}

input[type='submit']:hover{
    background-color: aliceblue;
}