.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    background-color: aqua;
    height: 3em;
    align-items: center;
    width: 100%;
    margin: 0;
}